RFCs 0002-consensus.md and 0004-leader_rotation.md are a confusing

#### Problem
The two RFCs are confusing, incomplete and overlap in information.

#### Proposed Solution

* RFC 0002-branch_generation.md
This should cover how a leader starts generating a new branch, transmits virtual ticks, how a validator collects the branches and votes.

* RFC 0004-leader-rotation.md
This should cover how leaders are picked, how they are rotated, and what state is kept in the bank to do the rotation.

* RFC 0005-branch-selection.md
This should cover the state machine for maintaining vote lockouts and how validators make the choice of what branch to vote on.

* rename 0007-staking.md to 0007-staking-rewards.md

*tag: @rob-solana @garious @carllin 

@rob-solana i am working on a PR for this

@aeyakovenko, I'm somewhat blocked by this. Is your PR coming this week?